<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <ul>
    <form class="well" [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="account">Account:</label>
        <select class="form-control" id="account" formControlName="account" required placeholder="Select an account">
          <option value="" selected disabled hidden>Select an account</option>
          <option *ngFor="let account of accounts" [value]="account">{{ account }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="msg">Message:</label>
        <textarea class="form-control" id="msg" formControlName="message" rows="5" required></textarea>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="form.pristine || form.invalid">Sign</button>

      <div class="form-group" *ngIf="signed$ | async; let signed">
        <label for="signed">Signed message:</label>
        <textarea class="form-control" id="msg" [value]="signed" rows="5" readonly></textarea>
      </div>
    </form>
  </ul>
</div>

